@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "GetAllNotification";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>GetAllNotification</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Details</td>
            <td>
                @item.Date.ToString("dd-MMM-yyyy") todo dakka once
            </td>
        </tr>
    }
</table>

