
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 - Reddedildi.</title>
    <link rel="stylesheet" href="~/web/403-forbidden/dist/style.css">

</head>
<body>
    <div class="lock"></div>
    <div class="message">
        <h1 style="text-align:center">Bu sayfaya erişim kısıtlı</h1>
        <p>Bunun bir hata olduğunu düşünüyorsanız lütfen site yöneticisine danışın.</p>
        <p><a href="/Default/Index/"></a></p>
    </div>
</body>
</html>
